# El uso de algunas funciones de pandas

Se toman los datos de Temperatura promedio en estados de México en los años 2018 y 2019, de la fuente: https://smn.conagua.gob.mx/es/climatologia/temperaturas-y-lluvias/resumenes-mensuales-de-temperaturas-y-lluvias
Aplicando funciones se filtran datos de interés.

In [1]:
import os
import requests
import pandas as pd

In [87]:
TM2018=pd.read_csv('TMed2018.csv')
TM2018D=pd.DataFrame(TM2018)
#TM2018D
TABLA2018=pd.DataFrame({'EDO':TM2018D['Edo'],'TM2018':TM2018D['Tmed']})
TABLA2018

        EDO  TM2018
0       GTO    16.2
1     TAMPS    15.0
2        BC    16.7
3       PUE    12.3
4      CHIS    21.2
...     ...     ...
1094   CHIS    16.2
1095    TAB    20.8
1096    TAB    23.2
1097   COAH    11.4
1098    VER    13.1

[1099 rows x 2 columns]

In [89]:
PROMEDIO2018=TABLA2018.mean()
PROMEDIO2018

TM2018    16.379527
dtype: float64

In [59]:
TM2019=pd.read_csv('TMed2019.csv')
TM2019D=pd.DataFrame(TM2019)
#TM2019
TABLA2019=pd.DataFrame({'EDO':TM2019D['Edo'],'TM2019':TM2019D['Tmed']})
TABLA2019

      EDO     TM2019
0     GRO  27.441935
1     SON  13.462069
2    CHIS  28.088710
3    CAMP  23.374074
4     BCS  17.987097
..    ...        ...
630   MEX  15.232258
631   MEX  11.161290
632   OAX  16.697917
633   VER  22.269231
634   YUC  20.870968

[635 rows x 2 columns]

In [90]:
PROMEDIO2019=TABLA2019.mean()
PROMEDIO2019

TM2019    17.444502
dtype: float64

En el siguiente punto se unen los datos de ambas tablas (datos 2018 y 2019).

In [28]:
pd.concat([TM2018D, TM2019D], ignore_index = True ) #Se unen los datos de ambos años, ignore_index= True *Para enumerar nuevamente

         Lon    Lat    Edo       Tmed
0    -101.51  20.43    GTO  16.200000
1     -98.38  24.06  TAMPS  15.000000
2    -116.90  32.44     BC  16.700000
3     -97.97  20.17    PUE  12.300000
4     -92.80  16.55   CHIS  21.200000
...      ...    ...    ...        ...
1729  -99.24  19.47    MEX  15.232258
1730  -99.80  19.63    MEX  11.161290
1731  -95.93  17.15    OAX  16.697917
1732  -95.52  18.63    VER  22.269231
1733  -89.50  21.08    YUC  20.870968

[1734 rows x 4 columns]

En la siguiente entrada se unen los datos de 2018 y 2019 referentes a las temperaturas, obviamente esto no es muy útil, puesto que resulta en una conbinación elemento-elementos.

In [78]:
DATOS=pd.merge(TABLA2018,TABLA2019)
DATOS

       EDO  TM2018     TM2019
0      GTO    16.2  15.238889
1      GTO    16.2  15.846774
2      GTO    16.2  11.250000
3      GTO    16.2  13.080645
4      GTO    16.2  11.548387
...    ...     ...        ...
27282   NL    13.1  13.939655
27283   NL    13.1  13.137931
27284   NL    13.1  14.402174
27285   NL    13.1  15.709677
27286   NL    13.1  15.053571

[27287 rows x 3 columns]

Suponiendo que nos interesa conocer el promedio de las temperaturas promedio en el año 2019 de cada uno de los estados reportados.

In [102]:
TABLA2019.groupby('EDO')['TM2019'].median()

EDO
AGS      14.072581
BC       13.986667
BCS      19.547527
CAMP     23.287634
CHIH      9.762097
CHIS     22.883929
COAH     13.125918
COL      25.675134
DF       15.537097
DGO      12.455645
GRO      23.837097
GTO      15.798387
HGO      14.600806
JAL      16.351613
MEX      12.645161
MICH     15.717742
MOR      18.038889
NAY      22.154032
NL       14.448157
OAX      21.991667
PUE      14.117556
QROO     23.957473
SIN      20.306452
SLP      19.905357
SON      15.167742
TAB      23.322917
TAMPS    16.881759
TLAX     11.983871
VER      20.514286
YUC      23.310345
ZAC      12.193548
Name: TM2019, dtype: float64

Para saber la cantidad de datos de cada estado, se hace:

In [105]:
TABLA2019.groupby('EDO')['TM2019'].count()

EDO
AGS      13
BC        1
BCS       6
CAMP     18
CHIH     22
CHIS     39
COAH     16
COL       8
DF       16
DGO      18
GRO      23
GTO      47
HGO      14
JAL      15
MEX      29
MICH     25
MOR       5
NAY       4
NL       18
OAX      19
PUE      44
QROO      8
SIN      23
SLP      12
SON      29
TAB      15
TAMPS    40
TLAX      3
VER      53
YUC      25
ZAC      27
Name: TM2019, dtype: int64

In [112]:
TABLA2019.groupby(['EDO', 'TM2019'])

Ahora se agrupan formalmente los datos (2019) de acuerdo al estado:

In [119]:
group_a = TABLA2019.groupby('EDO')  #Agraupar en estados
for estados, temperaturas in group_a: #Iterar sobre la agrupación establecida para desplegar grupos
    print(estados)
    print(temperaturas)

AGS
     EDO     TM2019
97   AGS  14.024194
98   AGS  14.500000
99   AGS  15.198387
100  AGS  14.896774
101  AGS  14.935484
102  AGS  13.604839
103  AGS  15.814516
104  AGS  13.774194
105  AGS  14.290323
106  AGS  13.233871
107  AGS  14.072581
108  AGS  13.572581
109  AGS   9.435484
BC
    EDO     TM2019
110  BC  13.986667
BCS
    EDO     TM2019
4   BCS  17.987097
19  BCS  20.096667
34  BCS  16.697917
73  BCS  18.998387
75  BCS  22.691935
76  BCS  20.445161
CAMP
      EDO     TM2019
3    CAMP  23.374074
77   CAMP  23.566667
111  CAMP  22.229032
112  CAMP  23.091667
113  CAMP  23.370968
114  CAMP  23.241935
115  CAMP  22.981481
116  CAMP  25.000000
117  CAMP  22.431034
118  CAMP  23.080645
119  CAMP  23.333333
120  CAMP  23.550000
121  CAMP  22.790323
122  CAMP  22.466667
123  CAMP  22.767857
124  CAMP  23.416667
125  CAMP  23.439655
576  CAMP  25.241935
CHIH
      EDO     TM2019
9    CHIH  11.682258
17   CHIH  12.630645
26   CHIH   8.104839
126  CHIH  18.853226
127  CHIH  18.917742
128  CHIH  18.437097
129  CHIH  15.767742
130  CHIH   7.362903
131  CHIH   6.833333
132  CHIH  11.932258
133  CHIH   7.009677
134  CHIH   8.709677
135  CHIH  10.814516
136  CHIH   6.774194
137  CHIH   8.079032
573  CHIH  13.096774
577  CHIH  12.124194
578  CHIH   6.193548
579  CHIH  10.854839
580  CHIH   6.306452
581  CHIH   2.951613
624  CHIH   7.629032
CHIS
      EDO     TM2019
2    CHIS  28.088710
12   CHIS  17.741935
32   CHIS  14.633333
40   CHIS  23.716129
79   CHIS  24.322581
80   CHIS  16.975806
81   CHIS  20.903448
96   CHIS  28.396774
138  CHIS  23.612903
139  CHIS  23.450000
140  CHIS  21.814516
141  CHIS  22.435484
142  CHIS  21.975806
143  CHIS  28.116129
144  CHIS  24.483871
145  CHIS  23.024194
146  CHIS  24.032258
147  CHIS  14.583333
148  CHIS  23.719355
149  CHIS  23.483333
150  CHIS  23.193548
151  CHIS  21.571429
152  CHIS  19.759792
153  CHIS  23.336957
154  CHIS  22.883929
550  CHIS  23.638462
557  CHIS  20.319355
558  CHIS  22.911290
582  CHIS  26.335484
583  CHIS  20.346774
584  CHIS  23.464516
585  CHIS  29.508065
586  CHIS  22.480645
587  CHIS  16.830357
588  CHIS  22.391667
589  CHIS  13.633333
590  CHIS  17.817742
618  CHIS  16.294828
621  CHIS  20.737500
COAH
      EDO     TM2019
24   COAH  14.698276
28   COAH  12.815000
31   COAH  13.398387
60   COAH  12.853448
155  COAH  13.450000
156  COAH  13.448276
157  COAH  14.524194
158  COAH  14.750000
159  COAH  14.172414
160  COAH  12.206897
161  COAH  12.803571
162  COAH  13.422222
163  COAH  11.016667
164  COAH  11.277778
165  COAH  12.148148
166  COAH  11.892857
COL
     EDO     TM2019
20   COL  27.137097
167  COL  25.991935
168  COL  25.358333
169  COL  27.117742
170  COL  25.290323
171  COL  27.048387
172  COL  24.120968
591  COL  24.677419
DF
    EDO     TM2019
7    DF  15.850000
63   DF  14.712903
64   DF  16.385484
173  DF  15.870968
174  DF  15.687097
175  DF  15.153226
176  DF  15.161290
553  DF  16.124194
559  DF  15.866129
560  DF  16.256452
569  DF  15.387097
592  DF  14.904167
593  DF  15.898387
594  DF  13.250000
619  DF  15.079032
625  DF  15.000000
DGO
     EDO     TM2019
14   DGO  14.440323
82   DGO  11.838710
177  DGO  12.233871
178  DGO  14.387097
179  DGO  14.567742
180  DGO  12.693548
181  DGO   9.669355
182  DGO  12.475806
183  DGO  13.359677
184  DGO  14.709677
185  DGO  14.129032
186  DGO  13.338710
187  DGO  11.346774
188  DGO  12.435484
549  DGO  10.717742
561  DGO  10.887097
572  DGO  12.298387
595  DGO  12.233871
GRO
     EDO     TM2019
0    GRO  27.441935
53   GRO  25.274194
69   GRO  17.370968
189  GRO  20.516129
190  GRO  26.004839
191  GRO  27.469355
192  GRO  25.217742
193  GRO  26.741935
194  GRO  25.967742
195  GRO  21.564516
196  GRO  20.387097
197  GRO  21.370968
198  GRO  18.822581
199  GRO  21.209677
200  GRO  24.129032
201  GRO  13.967742
202  GRO  22.080645
203  GRO  23.837097
204  GRO  25.483871
205  GRO  25.459677
206  GRO  20.209677
555  GRO  29.800000
596  GRO  19.096774
GTO
     EDO     TM2019
16   GTO  15.238889
45   GTO  15.846774
46   GTO  11.250000
50   GTO  13.080645
51   GTO  11.548387
55   GTO  12.838710
57   GTO  13.983871
71   GTO  15.064516
207  GTO  16.177419
208  GTO  16.290323
209  GTO  14.588710
210  GTO  15.241935
211  GTO  16.346774
212  GTO  16.612903
213  GTO  16.233871
214  GTO  14.903226
215  GTO  15.741935
216  GTO  15.000000
217  GTO  15.798387
218  GTO  17.508065
219  GTO  16.516129
220  GTO  16.895161
221  GTO  16.548387
222  GTO  15.693548
223  GTO  15.427419
224  GTO  17.209677
225  GTO  17.927419
226  GTO  15.927419
227  GTO  16.959677
228  GTO  17.822581
229  GTO  18.129032
230  GTO  14.387097
231  GTO  16.532258
232  GTO  15.362903
233  GTO  15.427419
234  GTO  16.645161
235  GTO  13.741935
236  GTO  15.909677
237  GTO  14.846774
238  GTO  17.790323
239  GTO  15.258065
240  GTO  16.080645
241  GTO  16.467742
242  GTO  13.775806
243  GTO  17.308333
244  GTO  12.169355
597  GTO  14.919355
HGO
     EDO     TM2019
39   HGO  14.277419
83   HGO  10.641800
245  HGO  14.620968
246  HGO  14.441935
247  HGO  13.543548
248  HGO  15.387097
249  HGO  14.580645
250  HGO  15.419355
251  HGO  15.629032
252  HGO  13.570968
253  HGO  15.193548
254  HGO  15.661290
255  HGO  13.700000
256  HGO  18.263333
JAL
     EDO     TM2019
10   JAL  16.250000
54   JAL  14.046154
84   JAL  15.777419
257  JAL  22.258065
258  JAL  25.483871
259  JAL  18.000000
260  JAL  14.512903
261  JAL  16.351613
262  JAL  23.185484
263  JAL  18.725806
264  JAL  17.572581
287  JAL  26.403226
574  JAL  14.809677
598  JAL  13.475806
626  JAL  14.838710
MEX
     EDO     TM2019
38   MEX  11.141935
58   MEX  13.387097
265  MEX  12.306452
266  MEX  12.645161
267  MEX   9.661290
268  MEX  11.733871
269  MEX  11.451613
270  MEX   9.596774
271  MEX  13.112903
272  MEX  14.282258
273  MEX  14.508065
274  MEX  14.758065
275  MEX  14.314516
276  MEX  15.016129
277  MEX  13.400000
278  MEX  12.596774
279  MEX  12.629032
280  MEX  11.709677
281  MEX   9.693548
282  MEX  12.080645
599  MEX  15.596774
600  MEX  13.435484
601  MEX  12.338710
602  MEX  13.516129
627  MEX  22.967742
628  MEX  13.532258
629  MEX  12.388710
630  MEX  15.232258
631  MEX  11.161290
MICH
      EDO     TM2019
25   MICH  16.029032
44   MICH  17.893548
67   MICH  15.472581
283  MICH  28.500000
284  MICH  26.233871
285  MICH  24.314516
286  MICH  26.298387
288  MICH  14.782258
289  MICH  13.282258
290  MICH  14.740323
291  MICH  16.024194
292  MICH  16.170968
293  MICH  14.040323
294  MICH  14.806452
295  MICH  16.314516
296  MICH  14.798387
297  MICH  13.024194
298  MICH  15.685484
299  MICH  15.717742
300  MICH  19.629032
301  MICH  16.746774
302  MICH  13.709677
303  MICH  14.709677
546  MICH  17.951613
547  MICH  15.362903
MOR
     EDO     TM2019
13   MOR  18.038889
47   MOR  17.416129
304  MOR  20.661290
305  MOR  22.435484
562  MOR   9.895161
NAY
     EDO     TM2019
36   NAY  20.869355
306  NAY  24.250000
307  NAY  21.000000
308  NAY  23.308065
NL
    EDO     TM2019
85   NL  13.314815
309  NL  14.758065
310  NL  14.467742
311  NL  14.833333
312  NL  14.428571
313  NL  11.709677
314  NL  14.913462
315  NL  10.112903
316  NL  14.222222
317  NL  13.482143
318  NL  15.339286
319  NL  15.965385
320  NL  15.480769
321  NL  13.939655
322  NL  13.137931
552  NL  14.402174
570  NL  15.709677
603  NL  15.053571
OAX
     EDO     TM2019
59   OAX  22.250000
61   OAX  16.016129
72   OAX   8.967742
86   OAX  26.032258
323  OAX  27.459677
324  OAX  25.801724
325  OAX  22.758065
326  OAX  18.908065
327  OAX  19.951613
328  OAX  21.298077
329  OAX  17.609677
330  OAX  21.991667
331  OAX  20.189655
332  OAX  22.043103
333  OAX  23.673077
334  OAX  23.111111
554  OAX  22.833333
604  OAX  15.661290
632  OAX  16.697917
PUE
     EDO     TM2019
30   PUE  14.719355
66   PUE  14.177419
87   PUE  20.396552
88   PUE  13.763542
335  PUE  19.693548
336  PUE  21.354839
337  PUE  21.145161
338  PUE  15.080645
339  PUE  21.096774
340  PUE  21.161290
341  PUE  18.741935
342  PUE  13.935484
343  PUE  12.661290
344  PUE  11.403226
345  PUE  15.387097
346  PUE  12.370968
347  PUE  14.846774
348  PUE  15.879032
349  PUE  14.783871
350  PUE  13.854839
351  PUE  15.322581
352  PUE  13.677419
353  PUE  13.096774
354  PUE  13.175000
355  PUE  10.101613
356  PUE  13.612903
357  PUE  12.564516
358  PUE   8.854839
359  PUE   9.717742
360  PUE  14.057692
361  PUE  12.483333
362  PUE  11.862069
363  PUE  14.032258
364  PUE   9.774194
365  PUE  15.822581
366  PUE  14.258621
367  PUE  13.336207
368  PUE  12.419355
369  PUE  21.435484
370  PUE  15.725806
563  PUE  20.580645
564  PUE  19.983871
565  PUE  12.483871
605  PUE  19.931034
QROO
      EDO     TM2019
8    QROO  24.151613
78   QROO  22.625000
89   QROO  22.945000
371  QROO  24.153226
372  QROO  22.861667
373  QROO  25.827586
374  QROO  23.763333
375  QROO  25.671429
SIN
     EDO     TM2019
22   SIN  22.087097
48   SIN  20.290323
56   SIN  22.580645
376  SIN  22.088710
377  SIN  22.040323
378  SIN  21.161290
379  SIN  21.774194
380  SIN  21.040323
381  SIN  20.950000
382  SIN  22.435484
383  SIN  20.024194
384  SIN  19.653226
385  SIN  20.306452
386  SIN  20.741935
387  SIN  19.701613
388  SIN  19.443548
389  SIN  19.129032
390  SIN  19.967742
391  SIN  18.411290
606  SIN  19.451613
607  SIN  20.338710
608  SIN  19.870968
609  SIN  19.319355
SLP
     EDO     TM2019
21   SLP  18.395238
90   SLP  20.105357
392  SLP  19.921429
393  SLP  19.817241
394  SLP  19.925000
395  SLP  19.889286
396  SLP  20.117857
397  SLP  20.298148
398  SLP  19.438889
399  SLP  20.925926
400  SLP  18.964815
401  SLP  19.079310
SON
     EDO     TM2019
1    SON  13.462069
5    SON  14.730357
15   SON  17.670968
62   SON  11.275000
91   SON  16.056452
92   SON  16.727419
402  SON  18.225806
403  SON  17.975806
404  SON  16.379032
405  SON  19.508333
406  SON  17.238710
407  SON  17.650000
408  SON   8.093548
409  SON   8.905161
410  SON  15.167742
411  SON  17.341935
412  SON  17.733871
413  SON  16.175000
414  SON  17.096774
415  SON  14.330000
416  SON   9.355161
417  SON   9.080645
418  SON  11.596774
419  SON  13.850000
420  SON   9.741935
421  SON  14.154839
422  SON  11.431034
423  SON  11.500000
610  SON  17.080000
TAB
     EDO     TM2019
424  TAB  23.468750
425  TAB  23.875000
426  TAB  23.350000
427  TAB  23.259259
428  TAB  24.433333
429  TAB  23.348214
430  TAB  23.322917
431  TAB  23.491935
432  TAB  23.098214
433  TAB  22.814815
434  TAB  23.314815
435  TAB  22.480000
436  TAB  24.383333
437  TAB  23.205357
566  TAB  22.127727
TAMPS
       EDO     TM2019
6    TAMPS  16.614000
35   TAMPS  20.992000
68   TAMPS  16.605556
93   TAMPS  19.706897
94   TAMPS  16.671429
95   TAMPS  15.389286
438  TAMPS  19.992000
439  TAMPS  20.056818
440  TAMPS  20.348214
441  TAMPS  20.232143
442  TAMPS  19.958621
443  TAMPS  19.541379
444  TAMPS  20.089655
445  TAMPS  20.391379
446  TAMPS  19.624138
447  TAMPS  19.425862
448  TAMPS  18.440909
449  TAMPS  18.675862
450  TAMPS  18.394231
451  TAMPS  16.353333
452  TAMPS  16.233333
453  TAMPS  17.419643
454  TAMPS  18.017241
455  TAMPS  17.608929
456  TAMPS  16.674138
457  TAMPS  16.620690
458  TAMPS  16.046552
459  TAMPS  16.745000
460  TAMPS  13.144444
461  TAMPS  15.692308
462  TAMPS  15.276786
463  TAMPS  15.722222
464  TAMPS  16.347826
465  TAMPS  14.403846
466  TAMPS  14.307692
467  TAMPS  14.940000
611  TAMPS  17.018519
612  TAMPS  16.151786
613  TAMPS  16.050000
622  TAMPS  19.508621
TLAX
      EDO     TM2019
37   TLAX  13.619355
468  TLAX  11.933333
469  TLAX  11.983871
VER
     EDO     TM2019
11   VER  23.260000
18   VER  15.437500
27   VER  16.546296
42   VER  22.937500
49   VER  20.009259
52   VER  15.500000
65   VER  15.296296
70   VER  14.000000
470  VER  21.785714
471  VER  22.005556
472  VER  21.310345
473  VER  23.183333
474  VER  23.277778
475  VER  21.240741
476  VER  21.441667
477  VER  20.750000
478  VER  21.933333
479  VER  21.508929
480  VER  16.561111
481  VER  11.322581
482  VER  21.467742
483  VER  23.322581
484  VER  22.122414
485  VER  23.055556
486  VER  12.784483
487  VER  22.615385
488  VER  22.846774
489  VER  22.891667
490  VER  21.700000
491  VER  12.805000
492  VER  23.285714
493  VER  15.719643
494  VER  15.046296
495  VER   9.428571
496  VER  10.400000
497  VER  13.694444
498  VER  11.500000
499  VER  10.551724
500  VER  21.604167
501  VER  19.658333
502  VER  19.344828
503  VER  20.425862
504  VER  20.208929
505  VER  20.487500
506  VER  20.173214
507  VER  19.901786
508  VER  20.514286
548  VER  19.607143
556  VER  12.967742
571  VER  23.500000
620  VER  22.241071
623  VER  21.975806
633  VER  22.269231
YUC
     EDO     TM2019
23   YUC  23.881034
29   YUC  23.403846
41   YUC  23.644643
509  YUC  22.217742
510  YUC  20.185484
511  YUC  21.879310
512  YUC  22.716667
513  YUC  23.310345
514  YUC  23.690000
515  YUC  23.458333
516  YUC  24.514286
517  YUC  24.029310
518  YUC  23.416667
519  YUC  22.350000
520  YUC  24.266129
521  YUC  22.048276
522  YUC  23.480769
523  YUC  24.216667
551  YUC  21.758333
567  YUC  19.806452
568  YUC  20.508333
614  YUC  19.508065
615  YUC  23.337931
616  YUC  21.467742
634  YUC  20.870968
ZAC
     EDO     TM2019
33   ZAC  13.224194
43   ZAC  11.687097
74   ZAC  10.072581
524  ZAC  13.491935
525  ZAC  19.612903
526  ZAC  14.000000
527  ZAC  17.161290
528  ZAC   9.048387
529  ZAC  11.217742
530  ZAC  14.346774
531  ZAC  10.838710
532  ZAC  11.903226
533  ZAC  10.806452
534  ZAC  12.193548
535  ZAC  12.970968
536  ZAC  12.903226
537  ZAC  13.782258
538  ZAC  11.670968
539  ZAC  12.529032
540  ZAC  11.604839
541  ZAC  11.741935
542  ZAC  11.483871
543  ZAC  13.570968
544  ZAC  12.088710
545  ZAC  11.637097
575  ZAC  14.193548
617  ZAC  13.669355

Si se necesita filtrar aún más la información, en este caso extraer los datos únicamente del estado Guanajuato, hacer:

In [121]:
data_GTO = group_a.get_group('GTO')
print(data_GTO)

     EDO     TM2019
16   GTO  15.238889
45   GTO  15.846774
46   GTO  11.250000
50   GTO  13.080645
51   GTO  11.548387
55   GTO  12.838710
57   GTO  13.983871
71   GTO  15.064516
207  GTO  16.177419
208  GTO  16.290323
209  GTO  14.588710
210  GTO  15.241935
211  GTO  16.346774
212  GTO  16.612903
213  GTO  16.233871
214  GTO  14.903226
215  GTO  15.741935
216  GTO  15.000000
217  GTO  15.798387
218  GTO  17.508065
219  GTO  16.516129
220  GTO  16.895161
221  GTO  16.548387
222  GTO  15.693548
223  GTO  15.427419
224  GTO  17.209677
225  GTO  17.927419
226  GTO  15.927419
227  GTO  16.959677
228  GTO  17.822581
229  GTO  18.129032
230  GTO  14.387097
231  GTO  16.532258
232  GTO  15.362903
233  GTO  15.427419
234  GTO  16.645161
235  GTO  13.741935
236  GTO  15.909677
237  GTO  14.846774
238  GTO  17.790323
239  GTO  15.258065
240  GTO  16.080645
241  GTO  16.467742
242  GTO  13.775806
243  GTO  17.308333
244  GTO  12.169355
597  GTO  14.919355